@model IEnumerable<DTO.Models.BookModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="d-flex gap-1 ">
    <a>@Html.ActionLink("Get Categories By Price", "CategoryByPrice", new { price = 50000 })</a>
    <a>@Html.ActionLink("Get Categories With Book(Left Join)", "CategoryWithBookDetail")</a>
    <a>@Html.ActionLink("Get Book Sumary(Group by)", "BookSumaryByCategory")</a>
    <a>@Html.ActionLink("Get Book With Category Detail(Join)", "BookWithCategoryDetail")</a>
    <a>@Html.ActionLink("Get Book Between 2 Prices (Union)", "BookUnion")</a>
    <a>@Html.ActionLink("Get Book With Paging", "BookWithPaging", new { pageIndex = 1 })</a>
</div>

<p class="mt-3">
    <a asp-action="Create">Create New Book</a>
</p>

<form asp-action="CategoryByPrice" method="get" class="form-inline">
    Tìm Category theo giá <input type="number" name="price"/> <button>Tìm</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Detail", "Detail", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
