@model MVCModel.Models.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().BookId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Book.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDetails.FirstOrDefault().Price)
                    </th>
                    <th>
                        Sum
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.BookId)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Book.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Price)
                </td>
                <td>
                    @(item.Price * item.Quantity)
                </td>
            </tr>
            
        }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
