@model IEnumerable<MVCModel.Models.BestSellerModel>

@{
    ViewData["Title"] = "GetTenBestSellerBook";
}

<h1>10 Best Seller Books</h1>

<form asp-action="GetTenBestSellerBook" method="get" class="form-inline my-3">
    Search for other month <input type="number" name="month" /> <button>Search</button>
</form>

<p>
    <a asp-action="Index">Back to list</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSells)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalRevenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSells)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalRevenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
        </tr>
}
    </tbody>
</table>
